<div class="welcome"
    <div class="row">
      <div class="large-6 columns">
      <img id = "shariphone_img" src = <%= image_url 'sharinator-iphone.png'%>>
      </div>

      <div class="large-6 columns">
        <div class = "row">
          <div class = "panel">
            <h2>Sharinator</h2>
            <p>
              Sharinator - это умная система подсчета общих трат, которая поможет вам без труда определить КТО, КОМУ И ЗА ЧТО должен. Вы сможете не только узнать, но и оповестить ваших друзей через социальную сеть.
            </p>
          </div>
        </div>

        <div class="row">
          <img id="appstore_img" src = <%= image_url 'appstore.jpeg'%>>
        </div>
      </div>
    </div>
</div>