// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*.welcome{background-color:#74db89;height:800px;padding-top:100px}
.welcome .jake{position:absolute;top:90px;width:198px;height:281px;background:url("iphone5s.jpg") no-repeat}
.welcome .img{position:absolute; background-color:#eeeeee; top:0px; left:0px; width: 100px; }
.welcome .bubble{position:absolute;top:-120px;left:147px;width:216px;height:243px;background:url("iphone5s.jpg") no-repeat}
.welcome .welcome-text{color:#f2f2e9;font-size:24px}*/

//.welcome{background-color:#ffffff;height:800px;padding-top:100px;width: 100%}

#appstore_img{position:relative; background-color:#eeeeee; top:100px; left:0px; width: 200px; }
#shariphone_img{width: 400px; }