<%# add navigation links to this file %>
<li class="name"><%= link_to 'Home', root_path %></li>
<li class="name"><%= link_to 'Home', root_path %></li>
<li class="name"><%= link_to 'Home', root_path %></li>
<li class="name"><%= link_to 'Home', root_path %></li>
